<h5>Listing of Donors</h5>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Family Name</th>
    <th>Status</th>
    <th>Amount</th>
    <th>School</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
  </thead>
<tbody>

  <%= render @donors %>

</tbody>
</table>
  
<br />

<%= link_to 'New Donor', new_donor_path %>