<% if user_signed_in? %>
	<h5>Welcome to the MEF 2013-14 Tracking system </h5>
	<p>
	<%= link_to 'Your Families', donors_path(@index), class: "btn btn-success btn-large"%>
	</p>
<%else%>
	<div class="hero-unit">
		<h3> Welcome to our MEF Test App!</h3>
		<p>
		You've found the test page for the MEF app
     </p>

	</div>
<%end%>